{
  box-sizing: border-box;
}

h1 {
  font-family: Comic Sans MS;
  color: #800080;
  font-size: 50px;
}

body {
  background-color:#FFFFFF;

}

p {
  padding: 10px;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
  border: 1px solid black;
  background-color: #D3D3D3;
  width: 100%;
  height: auto;
  font-family: Comic Sans MS;
  color: black;
  position: relative;
  overflow: auto;
}

#chicken {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color:#CCCCFF;
}

#beef {
  border: 1px solid black;
  color: white;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color:#000080;
}

#sushi {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  background-color:#F587F7;
  color: black;
  padding: 5px;
}

#c {
  margin-bottom: 10px;
  margin-top: 10px;
}

#b {
  margin-bottom: 10px;
  margin-top: 10px;
}

#s {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color:#DAA520;
}

#header-nav {
  border: 0;
  background-color:   #DA70D6;
  color: #FFFFFF;
  font-family: Comic Sans MS;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid  #4B0082;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: black;
}

hr {
  border-color: white;
}

.i {
  color: black;
  font-size: 1.2em;
}